.task{
    background-color: whitesmoke;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    margin: 10px;
    padding: 1px 20px;
    cursor: pointer;
    transition: border 50ms;
}
.task:hover{
    border: 1px solid #505050;
}

.task.reminder{
    border-left: 5px solid #65d36e ;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.icon:hover{
    color: #E91030 !important;
}
.icon{
    transition: color 1s ;
}