button{
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    transition: opacity;
}

button:hover{
    opacity: 0.8;
}
button:active{ 
    opacity: 0.4;
}