.form-control{
    color: #2c2d31;
    justify-content: left;
    text-align: left;
}
.btn.btn-block{
    background-color: rgb(100, 100, 100);
    border: none;
    color:white;
    padding: 8px 16px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 30ms;
}
.btn.btn-block:hover{
    background-color: rgb(83, 83, 83);
    padding: 9px 18px;
    color: white;
}
.reminderText{
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}
input{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background-color: whitesmoke;
}
.formTitle{
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}